
.container
{
    background-color: #e8e5e8;
    width: 100%;
    height: 810px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header
{
    width: 100%;
    height: 70px;
    background-color: #dcebf4;
    -webkit-text-fill-color: rgb(31, 31, 31);
    text-align: center;
    font-size: 20px;
    display: flex;
    font-family: Impact;

}

#icon
{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
}

#glavnaya
{
    margin-left: 230px;
    text-decoration: none;
    transition: 1s;
}
#glavnaya:visited
{
    color:rgb(43, 42, 42);
}
#glavnaya:hover
{
    color: #827481;
}

#contacts
{
    margin-left: 380px;
    text-decoration: none;
    transition: 1s;
}
#contacts:visited
{
    color:rgb(43, 42, 42);
}
#contacts:hover
{
    color: #827481;
}

#aboutus
{
    margin-left: 410px;
    text-decoration: none;
    transition: 1s;
}
#aboutus:visited
{
    color:rgb(43, 42, 42);
}
#aboutus:hover
{
    color: #827481;
}

.tree
{
    height: 200px;
    width: 100px;
}

input[type=email], input[type=message], input[type=submit]
   {
    border-radius: 5px;
    margin-left: 200px;
    margin-top: 100px;
    font-size: 20px;
    border-color: #eeecee;
   }
 
input[type=submit]:hover
{
    background-color: #878587;
}
input[type=message]
{
    width: 400px;
}

 .tree1{
    height: 500px;
    width: 500px;
    margin-left: 150px;
    margin-top: 50px;
}
.tree1 img{
    height: 500px;
    width: 500px;
}
.tree1 p{
    text-align: center;
    position: absolute;
    padding-top: 100px;
    width: 500px;
    height: 400px;
    margin:auto;
    font-size: 26px;
    pointer-events: none;
    opacity: 0;
    border-radius: 20px;
}
.tree1:hover p{
    background-color: rgb(167, 232, 242);
    color: rgb(0, 0, 0);
    opacity: 0.8;
    cursor:pointer;
    transition: all 1s;
}


.tree2{
    height: 500px;
    width: 500px;
    margin-left: 900px;
    margin-top: -500px;
    float:left;
}
.tree2 img{
    height: 500px;
    width: 500px;
    
}
.tree2 p{
    text-align: center;
    position: absolute;
    padding-top: 100px;
    width: 500px;
    height: 400px;
    margin:auto;
    font-size: 26px;
    pointer-events: none;
    opacity: 0;
    border-radius: 20px;
}
.tree2:hover p{
    background-color: rgb(167, 232, 242);
    color: rgb(0, 0, 0);
    opacity: 0.8;
    cursor:pointer;
    transition: all 1s;
} 

   

